{% extends "base.html" %}
{% block content %}
    <h1>Set password</h1>
    <p>Admin password is not set yet</p>
    <div class="row">
        <form class="col-md-6 col-lg-4" method="post" action="/login">
            {% if let Some(error) = error %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endif %}
            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control"
                       type="password"
                       id="password"
                       name="password"
                       required />
            </div>
            <div class="mb-3">
                <label class="form-label" for="confirm">Confirm</label>
                <input class="form-control"
                       type="password"
                       id="confirm"
                       name="confirm"
                       required />
            </div>
            <button class="btn btn-primary">Set password</button>
        </form>
    </div>
{% endblock %}
