{% extends "base.html" %}
{% import "rows.html" as rows %}
{% block content %}
    <h1>Import</h1>
    {% call rows::style() %}
    {% endcall %}
    <div class="row">
        <form class="col-md-8 col-lg-6"
              method="post"
              action="/library/{{ library.id }}/import">
            <div class="mb-3">
                <label class="form-label" for="query">Title or identifier</label>
                <input class="form-control"
                       id="query"
                       name="query"
                       value="{{ query }}"
                       placeholder="978-0-486-23134-1 or Three gymnopedies"
                       autofocus />
                <div class="form-text">A title, ISBN, or ISMN identifier</div>
            </div>
            {% call rows::holdings_box(holding_rows, errors.no_holdings) %}
            {% endcall %}
            <div class="form-check mb-3">
                <input class="form-check-input"
                       type="checkbox"
                       id="more"
                       name="more"
                       {% if more %}checked{% endif %} />
                <label class="form-check-label" for="more">Import more</label>
            </div>
            <p>More metadata will be fetched in the background</p>
            <button class="btn btn-primary">Start</button>
        </form>
    </div>
    <h2>Pending imports</h2>
    {% include "pending_imports.html" %}
    {% call rows::script() %}
    {% endcall %}
{% endblock %}
