{% extends "base.html" %}
{% block content %}
    <h1>Log in</h1>
    <div class="row">
        <form class="col-md-6 col-lg-4" method="post" action="/login">
            {% if let Some(error) = error %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endif %}
            {% if let Some(back) = back %}
                <input type="hidden" name="back" value="{{ back }}" />
            {% endif %}
            {% if base.demo %}
                <div class="alert alert-info" role="alert">
                    This is a demo instance that does not require a password. All changes are ephemeral and will be
                    lost with the next deployment.
                </div>
            {% else %}
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control"
                           type="password"
                           id="password"
                           name="password"
                           required />
                </div>
            {% endif %}
            <button class="btn btn-primary">Log in</button>
        </form>
    </div>
{% endblock %}
