{% extends "base.html" %}
{% block content %}
    <h1>Change password</h1>
    <div class="row">
        <form class="col-md-6 col-lg-4" method="post" action="/password">
            {% if let Some(error) = error %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endif %}
            <div class="mb-3">
                <label class="form-label" for="current">Current password</label>
                <input class="form-control"
                       type="password"
                       id="current"
                       name="current"
                       required />
            </div>
            <div class="mb-3">
                <label class="form-label" for="new">New password</label>
                <input class="form-control" type="password" id="new" name="new" required />
            </div>
            <div class="mb-3">
                <label class="form-label" for="confirm">Confirm password</label>
                <input class="form-control"
                       type="password"
                       id="confirm"
                       name="confirm"
                       required />
            </div>
            <button class="btn btn-primary">Change password</button>
        </form>
    </div>
{% endblock %}
