{% import "catalog.html" as catalog %}
{% if !works.is_empty() %}
    <h2>Works</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    {% if show_catalog_numbers %}<th>Catalog numbers</th>{% endif %}
                    {% for role in roles %}<th>{{ role | capitalize }}</th>{% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for w in works %}
                    <tr>
                        <td><a href="/library/{{ publication.library_id }}/work/{{ w.id }}">{{ w.title }}</a></td>
                        {% if show_catalog_numbers %}<td>{% for n in w.catalog_numbers %}{% if !loop.first %}, {% endif %}{% call catalog::number(n) %}{% endcall %}{% endfor %}</td>{% endif %}
                        {% for role in roles %}<td>{% for c in w.with_role(role) %}{% if !loop.first %}, {% endif %}<a href="/library/{{ publication.library_id }}/person/{{ c.person_id }}">{{ c.name }}</a>{% endfor %}</td>{% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
